@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Safe Haven</h1>
    <p class="lead">The leading website for shelter during crisis.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Easy</h2>
        <p>
            Our interactive map makes it easy to locate shelter nearby.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Crowd-Sourced</h2>
        <p>We rely on our users to provide shelter for others in need. Add your Safe Home today!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>